




#form-container {
    border: 1px solid #000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex; 
    justify-content: flex-end;
    margin-bottom: 10px;
      }

 .left-element {
    flex: 1;
    margin-right: 10px;
    outline: 0;
    border-width: 0.5 0.5 0.5 0.5;
}



button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

button:hover {
    color: rgb(1, 71, 94);

}


img {
    width: 400px; /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio of the image */
}

#container-list {
    background-color: white;
    padding: 20px;
    margin: 65px -100px;
    position: relative;
    z-index: 1;
    height: 100%;
}
